<h1>Create a Cohort</h1>

<form action="/cohorts" method="post">
  Cohort Name: <input type="text" name="name" value=""></br>
  Start Date: <input type="date" name="startDate" value=""></br>
  End Date: <input type="date" name="endDate" value=""></br>
  Course Id: <input type="number" name="courseId" value=""></br>
  <p>
    <input type="submit" name="commit" value="Create Account">
  </p>
</form>
