<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Admin Panel</title>
  </head>
  <body>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/signup">Sign Up</a></li>
      <li><a href="/new-cohort">Create Cohort</a></li>
      <li><a href="/new-course">New Course</a></li>
    </ul>
    <h1>Admin Panel</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates perspiciatis assumenda quibusdam saepe corporis, fuga numquam maiores delectus nihil possimus cumque quam alias mollitia tenetur a provident, obcaecati id repellendus.</p>
  </body>
</html>
